body{
  font: bold 24px 'Roboto', sans-serif;
}

.grid{
  background: #fc4235;
  height: 95px;
}

[class*='col-']{
  float: left;
}

.col-2-7 {
    width: 20%;
    
  }
.col-1-7 {
    width: 12%;
  }

#left{
  background: #bf392f;
  height: 619px;
  width: 50%;
}

#right{
  background: #9e3129;
  height: 619px;
  width: 50%;
}