body{
  font: bold 24px 'Roboto', sans-serif;
  text-align: center;
}

.grid{
  background: #fc4235;
  height: 95px;
}

.first-row {
  position: relative;
 }
 
 span {
  position: absolute;
  background: #fff; 
  font-weight: bold;
  margin-top: 50px;
  margin-left: 200px;
  font-size: 26px;
 }


[class*='col-']{
  float: left;
}

.col-2-7 {
    width: 20%;
    line-height: 3;
    
  }
.col-1-7 {
    width: 12%;
    line-height: 3;
  }

#left{
  background: #bf392f;
  height: 619px;
  width: 50%;
}

#right{
  background: #9e3129;
  height: 619px;
  width: 50%;
}
#second-left{
    background: #9e3129;
    height: 619px;
    width: 50%;
  }
  
#second-right{
background: #bf392f;
height: 619px;
width: 50%;
}
.col-1-3{
    background: rgb(95, 93, 93);
    width: 33%;
    height: 459px;
    text-align: center;
    margin-bottom: 40px;
}
.col-1-3:hover{
    background: whitesmoke;
}

.third-grid{
    background: lightgrey;
    height: 100px;
}

#post-two,
#post-five,
#post-nine{
  background: whitesmoke;
}
#post-one:hover,
#post-two:hover,
#post-three:hover,
#post-four:hover,
#post-five:hover,
#post-six:hover{

    background: rgb(215, 207, 207);
}

#post{
  width: 30%;
  height: 459px;
  background: rgb(95, 93, 93);
  border-radius: 5px;
  margin-left: 2%;
}

#advert{
  width: 60%;
  height:619px;
  background: #bf392f;
  border-radius: 5px;
  margin-left: 7%;
}
.col-1-3{
    background: rgb(95, 93, 93);
    width: 27%;
    height: 459px;
    text-align: center;
    margin-bottom: 40px;
    padding: 3%;
    margin-top: 15px;
}
#post-eleven{
    width: 30%;
    height: 459px;
    background: rgb(95, 93, 93);
    border-radius: 5px;
    margin-left: 2%;
  }
  
#advert-two{
width: 60%;
height:619px;
background: #bf392f;
border-radius: 5px;
margin-left: 7%;
}
.col-1-1{
    background:skyblue;
    width: 100%;
    height: 619px;
}
  
#person-of{
  width: 100%;
  background: rgb(95, 93, 93);
  height: 420px;
  margin-top: 80px;
  margin-bottom: 80px;
}

#link-one,
#link-two,
#link-three,
#link-four,
#link-five,
#link-six{
  margin-bottom: 30px;
  margin-left: 3%;
  height: 420px;
  width: 45%;
  background: lightgrey;
}
#design{
    background: #fc4235;
    width: 100%;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#twelve{
  margin-top: 80px;
}

#post-performance{
  background: whitesmoke;
}
#post-front:hover,
#post-performance:hover,
#post-improving:hover{

    background: rgb(215, 207, 207);
}

.curative-post{
  width: 30%;
  height: 459px;
  background: rgb(95, 93, 93);
  border-radius: 5px;
  margin-left: 2%;
}
#post-thirteen{
    width: 30%;
    height: 459px;
    background: rgb(95, 93, 93);
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 80px;
  }
  
#advert-three{
width: 60%;
height:619px;
background: #bf392f;
border-radius: 5px;
margin-left: 7%;
margin-top: 80px;
}

#post-one,
#post-two,
#post-three,
#post-thirteen,
#advert,
#advert-three,
#post,
#post-eight,
#post-nine,
#post-ten,
#post-eleven,
#advert-two{
  margin-top: 80px;
}

#post-thirteen,
#advert-three{
  margin-bottom: 80px;
}

.main-footer {
  grid-column: 1 / -1;
  height: 500px;
  padding: 0 150px;
}

#foot{
  margin-top: 80px;
}

.footer-items {
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgb(197, 45, 45);
}

.topic {
  margin: 20px;
}


