body{
  font: bold 24px 'Roboto', sans-serif;
}

.grid{
  background: #fc4235;
  height: 95px;
}

[class*='col-']{
  float: left;
}

.col-2-7 {
    width: 20%;
    
  }
.col-1-7 {
    width: 12%;
  }

#left{
  background: #bf392f;
  height: 619px;
  width: 50%;
}

#right{
  background: #9e3129;
  height: 619px;
  width: 50%;
}
#second-left{
    background: #9e3129;
    height: 619px;
    width: 50%;
  }
  
#second-right{
background: #bf392f;
height: 619px;
width: 50%;
}
.second-grid{
    background: lightgrey;
    height: 100px;
}
.col-1-3{
    background: #fff;
    width: 33%;
    height: 459px;
    text-align: center;
}
.col-1-3:hover{
    background: whitesmoke;
}